/*Limpar formatações padrões */
* {
    margin: 0;
    padding: 0;

}

body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background: gray;
}



/*
    ****Layout ****

*/
#area-cabecalho {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}